// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

p.errorMsg {
    margin-top: 0;
    margin-bottom: 0;
    color: red;
}

.success{
    color: green;
}

.error{
    color: red;
}

input.custom-Email{
    border: 2px solid;
    border-radius: 0.25rem;
}

button.btn-custom{
    background-color: rgba(22, 170, 22, 0.822);
    border-color: black;
    border: 1px solid;
    margin-top: 0.25rem;
}