// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

p.errorMsg {
    margin-top: 0;
    margin-bottom: 0;
    color: red;
}